@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background: #000;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__img {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-family: "Inter";
  background: #000;
  color: #fff;
  text-align: center;
  padding: 0 0 10px 0;
}

.text__title {
  font-size: 55px;
}

.text__content {
  max-width: 1000px;
  margin: 30px auto 10px auto;
  font-size: 22px;
}

.city {
  width: 100%;
  padding: 0 0 20px 0;
  background: #000;
}

.city__img {
  height: 100%;
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
  padding: 70px 0 90px 0;
}

.gallery__title {
  color: #fff;
  font-size: 55px;
  font-family: "Inter";
  margin: 0 0 60px 0;
}

.gallery__container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__container img {
  height: 100%;
  width: auto;
  margin: 15px;
}

.ownership {
  background: #000;
  color: #fff;
  font-family: "Inter";
}

.ownership__title {
  text-align: center;
  font-size: 55px;
  margin: 0 0 60px 0;
}

.ownership__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.ownership__container--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ownership__container--element img {
  height: 129px;
  width: 129px;
}

.ownership__container--element__text {
  margin: 40px;
}

.ownership__container--element__text span {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}

.features {
  background: #000;
  color: #fff;
  font-family: "Inter";
  padding-bottom: 70px;
}

.features__title {
  text-align: center;
  font-size: 55px;
  padding: 90px 0 60px 0;
}

.features__container {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features__container--element {
  text-align: center;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__container--element img {
  height: 100px;
}

.features__container--element__title {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.features__container--element__content {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.roadmap {
  background: #2e0969;
  color: #fff;
  font-family: "Inter";
  text-align: center;
}

.roadmap__title {
  text-align: center;
  font-size: 55px;
  padding: 70px 0 60px 0;
  letter-spacing: 1px;
}

.roadmap__timeline {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
  -webkit-transition: .5s;
  transition: .5s;
  background: #2e0969;
}

.roadmap__timeline > ul > li, .roadmap__timeline > ul .list--element {
  list-style: none;
  line-height: 25px;
  position: relative;
  padding: 15px 50px;
  height: 175px;
}

.roadmap__timeline > ul > li:nth-child(odd), .roadmap__timeline > ul .list--element:nth-child(odd) {
  width: 70%;
  float: right;
  text-align: left;
}

.roadmap__timeline > ul > li:nth-child(odd)::before, .roadmap__timeline > ul .list--element:nth-child(odd)::before {
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background: #fff;
  z-index: 3;
}

.roadmap__timeline > ul > li:nth-child(odd)::after, .roadmap__timeline > ul .list--element:nth-child(odd)::after {
  content: '';
  position: absolute;
  left: -8px;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
}

.roadmap__timeline > ul > li:nth-child(even), .roadmap__timeline > ul .list--element:nth-child(even) {
  width: 30%;
  float: left;
  text-align: right;
  font-size: 30px;
}

.roadmap__timeline > ul > li__title, .roadmap__timeline > ul .list--element__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 4px;
  background: radial-gradient(circle, #aaa66d 0%, #836f00 100%);
  color: #000;
  font-weight: 600;
}

.roadmap__timeline > ul > li__content, .roadmap__timeline > ul .list--element__content {
  padding: 20px 0;
}

.roadmap i {
  padding: 60px 0;
}

@media (max-width: 1036px) {
  .text__title {
    font-size: 35px;
  }
  .text__content {
    width: 90%;
    margin: 30px auto;
    font-size: 17px;
  }
  .gallery__title {
    font-size: 35px;
  }
  .ownership__title {
    font-size: 35px;
    margin: 0 0 60px 0;
  }
  .features__title {
    font-size: 35px;
  }
  .roadmap__title {
    font-size: 35px;
  }
}

@media (max-width: 886px) {
  .ownership__container {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .ownership__container--element__text {
    font-size: 16px;
  }
  .ownership__container--element__text span {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
  }
}

@media (max-width: 505px) {
  .text__title {
    font-size: 25px;
  }
  .text__content {
    font-size: 14px;
  }
  .ownership__title {
    font-size: 25px;
  }
  .ownership__container--element img {
    height: 89px;
    width: 89px;
  }
  .ownership__container--element__text {
    margin: 25px 15px;
  }
  .features__title {
    font-size: 25px;
    padding: 90px 0 60px 0;
  }
  .features__container--element__title {
    padding: 10px 10px;
    font-size: 20px;
  }
  .features__container--element__content {
    padding: 10px 10px;
    font-size: 16px;
  }
  .roadmap__title {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */